
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kawaljeet's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Kawaljeet Singh</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://docs.google.com/document/d/1t0kQHneBZrFbrqjHBW6jHWAVUtc-XB4W/edit?usp=sharing&ouid=113818186959048666348&rtpof=true&sd=true" class="bi bi-file-earmark-word-fill" target="_blank"></a>
          <a href="https://github.com/kamal63442" class="github" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="http://linkedin.com/in/kawal-jeet-singh" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
          
        <!-- Add WhatsApp icon using class -->
          <a href="https://wa.me/+918895395172" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#Skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Skills</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bxl-github"></i> <span>Git-Folio</span></a></li>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">

        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Kawaljeet Singh</h1>
      <p>I'm a <span class="typed" data-typed-items=" AlgoDeveloper_, Quant_,Technical Analyst_"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Fueled by a deep fascination for algorithmic trading and financial engineering, 
            I've steered my journey from the world of Civil Engineering to immersing myself in the intricacies of quantitative strategies.
            An avid learner, I've explored realms like EPAT and Wolfram computation language. Beyond the charts and codes, you'll find me engrossed in books and relishing nature's wonders, embodying a commitment to building robust trading systems and navigating the dynamic landscape of financial markets.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="/static/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Algo &amp; Web Developer.</h3>
            <p class="fst-italic">
              I Work on Python for granular data fetching across indian equities and derivatives, implementing and backtesting various strategies and strategic development process,
              and management of them on the clouds.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17-Apr-1993</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Jharsuguda, Odisha, INDIA</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Mobile:</strong> <a href="tel:+918895395172">+918895395172</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Previous/Current Employer:</strong> <span>Master Capital Services. (01.12.2022 - 31.10.2023)</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Education:</strong> <span>Diploma,Bachelors,EPAT</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span><a href="mailto:kamal63442@gmail.com">kamal63442@gmail.com</a></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Remote Work:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Well-rounded professional with a diverse skill set.Transition from civil engineering to financial engineering and programming Fast and adaptable to new environment.
            </p>
          </div>
        </div>
       </div>
      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="Skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>expertise in algorithmic trading, data analysis, and IT skills, along with continuous learning through online courses, a proactive approach to staying current in my field. 
            The combination of academic qualifications, professional experience, and personal interests individual with a passion for problem-solving and a broad understanding of both financial and technological domains.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Python <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS ,HTML & JavaScript <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MS EXCEL <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">WSS Streams & Api's <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>During my pre-graduation journey, I cultivated a rich understanding of personification. The two fantastic years of my Bachelor's Education were an enlightening experience, where I immersed myself in the wisdom of learning.

            However, my journey took an exciting turn as I shifted my focus from Civil Engineering to the captivating realms of Financial Engineering and Programming. The transition not only infused my skill set with robust numerical prowess but also opened up new horizons in the quantitative domain.
            
            This shift has been more than a change of course; it's a captivating exploration of my evolving interests and a dynamic venture into a world where numbers dance to the rhythm of financial possibilities. The blend of financial engineering and programming has ignited a passion within me, propelling me towards a future where innovation meets calculation in the most appealing and engaging manner.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Kawaljeet Singh</h4>
              
              <p><em>Sculpted Data Scientist and experience designing and developing user-centered Python codes and Backtests from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Research Quant Advisor <br>
                  Master Capital Services Ltd. Ludhiana, Punjab.
                </li><h5>2022 - 2023</h5></ul>
              </li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>bachelors in civil engineering</h4>
              <h5>2015 - 2016</h5>
              <p><em>Lovely Professional University, Ludhiana,Punjab, India</em></p>
              <p>Pursued a full-fledged undergraduate degree in civil engineering, gaining in-depth knowledge in various aspects of the field.spent two years pursuing a Bachelor's degree, eventually shifted my interests towards financial engineering and programming. </p>
            </div>
            <div class="resume-item">
              <h4>Diploma in Civil Engineering</h4>
              <h5>2010 - 2014</h5>
              <p><em>State Vocational and Technical Board of Odisha</em></p>
              <p>During the diploma program, I developed skills in drafting, using engineering software, conducting experiments, and problem-solving.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Research Quant Advisor</h4>
              <h5>December 1, 2022, to October 31, 2023</h5>
              <p><em>Master Capital Services Ltd., Ludhiana, Punjab</em></p>
              <ul>
                <li>Data Intricacies and Backtesting Finesse: Developed skills in handling granular data fetching across Indian equities and derivatives. Demonstrated proficiency in backtesting various strategies.</li>
                <li>Strategic Development Process: Gained a keen understanding of the strategic development process, including management on the cloud and code improvement for minimizing failures during data-intensive tests. </li>
                <li>Focus on Indian Equities and Derivatives: Emphasized working with codes and strategies specific to Indian financial markets, reflecting a localized expertise.</li>
                <li>Third-Party Backtesting Websites: Worked with third-party backtesting websites like Stockmock, Opstra, etc., indicating an awareness of and experience with various tools in the field.</li>
              </ul>
              </ul>
            </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Git-Folio</h2>
          <p>Feel free to explore the repositories, contribute ideas, or fork projects that catch your eye.</p>
          </p>If you have questions, suggestions, or just want to chat about all things tech, don't hesitate to reach out. I'm always up for a good coding conversation.</p>
        </div>

        <div class="container">
          <div class="row">
            {% for x in data %}
            <div class="col-lg-4">
              <div class="card">
                <a class="link" href={{ x.html_url }} target="_blank">
                <div id="card-body" class="card-body">
                  <h5 class="card-title">{{ x.name }}</h5>
                  <p class="card-text" target="_blank" >{{ x.description }}</p>
                </div>
              </a>
              </div>
            </div>
            {% endfor %}
                  
          </div>
        </div> 

<!-- End Portfolio Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>